* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Sour Gummy", sans-serif;
    font-weight: 400;
    font-size: clamp(0.7rem, 2dvh, 2.5rem);
    color: rgb(55, 2, 7);
}

#pinto {
    top: 0;
    position: absolute;
    max-width: 2rem;
    height: auto;
    z-index: -1;
    animation: descer 5s ease-out infinite;
}

#chuva {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.pintos {
    top: 0;
    position: absolute;
    max-width: 2rem;
    height: auto;
    z-index: -1;
    animation: descer 3s ;
}

@keyframes descer {
    0% {
        transform: translateY(0px) rotate(0deg);
        opacity: 0.9;
    }

    80% {
        opacity: 0.25;
    }

    100% {
        transform: translateY(90vh) rotate(361deg);
        opacity: 0;
        
    }
}



body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(250deg, rgb(255, 148, 0), rgb(254, 147, 94), rgb(176, 233, 176));
    background-size: 500%;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    overflow: auto;
    animation: gradiente 5s ease-in infinite alternate;
    
    
}



@keyframes gradiente {
    0% {
        background-position: 10% 50%;
    }

    50% {
        background-position: 50% 90%;
    }

    100% {
        background-position: 90% 10%;
    }
}

.conteudo {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    width: clamp(20rem, 90dvw, 45rem);
    height: 90%;
    place-items: center;
    overflow: auto;
    z-index: 1;
    backdrop-filter: blur(2px);
    background-color:rgba(53, 48, 35, 0.127);
    border-radius: 15px;
}

.conteudo::-webkit-scrollbar {
    display: none;
}

.conteudo img {
    height: auto;
    width: 90%;
    z-index: 2;
}