* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Sour Gummy", sans-serif;
    font-weight: 400;
    font-size: clamp(0.7rem, 2dvh, 2.5rem);
    color: rgb(55, 2, 7);
}

#pinto {
    top: 0;
    position: absolute;
    max-width: 2rem;
    height: auto;
    z-index: -1;
    animation: descer 5s ease-out infinite;
}

#chuva {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.pintos {
    top: 0;
    position: absolute;
    max-width: 2rem;
    height: auto;
    z-index: -1;
    animation: descer 3s ;
}

@keyframes descer {
    0% {
        transform: translateY(0px) rotate(0deg);
        opacity: 0.9;
    }

    80% {
        opacity: 0.25;
    }

    100% {
        transform: translateY(90vh) rotate(361deg);
        opacity: 0;
        
    }
}



body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(250deg, rgb(255, 148, 0), rgb(254, 147, 94), rgb(176, 233, 176));
    background-size: 500%;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    overflow: auto;
    animation: gradiente 5s ease-in infinite alternate;
    
    
}



@keyframes gradiente {
    0% {
        background-position: 10% 50%;
    }

    50% {
        background-position: 50% 90%;
    }

    100% {
        background-position: 90% 10%;
    }
}
.card_principal {
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    text-align: center;
    border: solid 2px rgb(55, 2, 7);
    background-color: rgba(254, 201, 66, 0.884);
    width: clamp(12rem, 90vw, 24rem);
    height: clamp(27rem, 80vh, 40rem);
    box-shadow: 0px 0px 10px 8px rgba(31, 26, 48, 0.142);
    z-index: 1;
    gap: 0.8rem;
    position: relative;
    overflow: hidden;
    padding: 0.7rem;

    
}

.conteudo::-webkit-scrollbar{
    display: none;
}

p{
    padding: 1rem;
    text-align: justify;
}
p::after {
    content: "";
    display: block;
    width: 100%;
    height: 0px;
    border-bottom: dotted 2px #c13029;
}

a::after {
    content: "";
    display: block;
    width: 100%;
    height: 0px;
    border-bottom: dotted 2px #c13029;
}

.card_principal a {
    padding: 0.5rem;
    position: relative;
    text-decoration: none;
    
}

.conteudo {
    overflow: auto;
    height: 80%;
    width: auto;
    
    
}


span {
    font-weight: 800;
}


.pezinho {
    position:absolute;
    text-align: center;
    width: 100%;
    bottom: 1%;
    
}

.pezinho h6{
    font-size: 0.7rem;
}
