* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Sour Gummy", sans-serif;
    font-weight: 400;
    font-size: clamp(0.7rem, 2dvh, 2.5rem);
    color: rgb(55, 2, 7);
}

#pinto {
    top: 0;
    position: absolute;
    max-width: 2rem;
    height: auto;
    z-index: -1;
    animation: descer 5s ease-out infinite;
}

#chuva {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.pintos {
    top: 0;
    position: absolute;
    max-width: 2rem;
    height: auto;
    z-index: -1;
    animation: descer 3s ;
}

@keyframes descer {
    0% {
        transform: translateY(0px) rotate(0deg);
        opacity: 0.9;
    }

    80% {
        opacity: 0.25;
    }

    100% {
        transform: translateY(90vh) rotate(361deg);
        opacity: 0;
        
    }
}



body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(250deg, rgb(255, 148, 0), rgb(254, 147, 94), rgb(176, 233, 176));
    background-size: 500%;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    overflow: auto;
    animation: gradiente 5s ease-in infinite alternate;
    
    
}



@keyframes gradiente {
    0% {
        background-position: 10% 50%;
    }

    50% {
        background-position: 50% 90%;
    }

    100% {
        background-position: 90% 10%;
    }
}

.card_principal {
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    text-align: center;
    border: solid 2px rgb(55, 2, 7);
    background-color: rgba(254, 201, 66, 0.884);
    width: clamp(12rem, 90vw, 24rem);
    height: clamp(27rem, 80vh, 40rem);
    box-shadow: 0px 0px 10px 8px rgba(31, 26, 48, 0.142);
    z-index: 1;
    position: relative;
    padding: 0.7rem;

    
    
}

.icon {
    display: flex;
    flex-direction: column;
    place-items: center;
    height: clamp(calc(3em + 2), 30vh, auto);

}

.imagem {
    padding: 2rem;
    height: auto;
    width: 80%;
    
}



.icon h1{
    font-size: 2rem;
    font-weight: 700;
}

.bio {
    height: auto;
    width: auto;
    margin:auto 0.5rem;
    align-content: center;
    text-align: justify;
    
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    height: auto;
    

}

.content ul{
    margin: auto 1.2rem;
    border-radius: 10px;
    background-color: rgb(255, 148, 0);
    place-items: center;
    list-style: none;
    height: clamp(1rem, 30vh, 1.6rem);
    transition: 300ms;
    
    
}

.content ul:hover  {
    transform: scale(1.1);
    background-color: rgb(176, 233, 176);
    transition: 300ms ease-out;
}

.content ul a{
    text-decoration: none;
    width: 100%;
    color: rgb(55, 7, 2);

}

.pezinho {
    align-content: end;
    display: block;
    height: 1.2rem;
    margin-top: 2rem;

}

.pezinho h6{
    font-size: 0.7rem;
}